<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
    
    <%- include("./partials/nav.ejs") %>

    <h1>Data from index.js</h1>
    <% data.map(item => { %>
        <div class="item">
            <h2><%= item.name %></h2>
            <p><%= item.country %></p>
        </div>
    <% }) %>

    <%- include("./partials/footer.ejs") %>
</body>
</html>