<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
    
    <%- include("./partials/nav.ejs") %>
        
    <% data.map(item => { %>
        <a href="/blogs/<%= item._id %>" class="item-link">
            <div class="item">
                <h2><%= item.title %></h2>
                <p><%= item.shortDescription %></p>
            </div>
        </a>
    <% }) %>

    <%- include("./partials/footer.ejs") %>
</body>
</html>